@model People.Web.Models.User.UserRegister
@using System.Web.Mvc.Html
@using System.Web.Optimization

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Guest/_Layout.cshtml";
}

<div class="page-header header-filter" style="background-image: url(../assets/img/bg/bg7.jpg); background-size: cover; background-position: top center;">

    <div class="container container-center">
        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-unlock"></i>
            </div>
            <div class="header-title">
                <h3>Registration</h3>
                <small>
                    Please enter your credentials to Register.
                </small>
            </div>
        </div>

        <div class="panel panel-filled">
            <div class="panel-body">
                @Html.ValidationSummary(true)
                @using (Html.BeginForm("Index", "Register", FormMethod.Post, new { @id = "RegisterForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new
                        {
                            placeholder = "email@example.com",
                            title = "Please enter you Email",
                            value = "",
                            name = "email",
                            id = "email",
                            @class = "form-control"
                        })
                        <span class="help-block small">Your unique username to app</span>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Username, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Username, new
                        {
                            placeholder = "username",
                            title = "Please enter you username",
                            value = "",
                            name = "username",
                            id = "username",
                            @class = "form-control"
                        })
                        <span class="help-block small">Your unique username to app</span>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Password, new
                        {
                            @class = "form-control",
                            type = "password",
                            title = "Please enter your password",
                            placeholder = "******",
                            value = "",
                            name = "password",
                            id = "password"
                        })
                        <span class="help-block small">Your strong password</span>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmedPassword, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.ConfirmedPassword, new
                        {
                            @class = "form-control",
                            type = "password",
                            title = "Please Confirm your Password",
                            placeholder = "******",
                            value = "",
                            name = "confirmedPassword",
                            id = "confirmedPassword"
                        })
                        <span class="help-block small">Password Confirmation</span>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ProfileImageUrl, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.ProfileImageUrl, new
                        {
                            @class = "form-control",
                            type = "text",
                            title = "Please Enter your Profile Image URL",
                            placeholder = "Please Enter your Profile Image URL",
                            value = "http://www.stickpng.com/assets/images/585e4bf3cb11b227491c339a.png",
                            name = "Profile Image URL",
                            id = "Profile Image URL"
                        })
                        <span class="help-block small">Password Confirmation</span>
                    </div>
                    <div>
                        <button class="btn btn-accent">Register</button>
                    </div>
                }
            </div>
        </div>

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/validation/js")

    <script type="text/javascript">
$(function () {

            $("#RegisterForm").validate({
                rules: {
                    Email: {
                        required: true
                    },
                    Username: {
                        required: true
                    },
                    Password: {
                        required: true
                    },
                    ConfirmedPassword: {
                        required: true
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                },
                errorPlacement: function (error, element) {
                    $(element)
                        .closest("form")
                        .find("label[for='" + element.attr("id") + "']")
                        .append(error);
                },
                errorElement: "span"
            });
        });</script>
}